@use "./base.scss";

// put your custom CSS here!


a:not(.unstyled) {
    color: var(--secondary);
    position: relative;
    text-decoration: none;

    &:before {  
        transform: scaleX(0);
        transform-origin: bottom right;
      }
      
      &:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      
      &:before {
        content: " ";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 0 0 0;
        background: var(--highlight);
        z-index: -1;
        transition: transform .3s ease;
      }
}

a.unstyled {
    text-decoration: none;
}

@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
  }
  
  main.neon-title {
    transition: all 0.5s;
    -webkit-text-stroke: 2px var(--darkgray);
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 5rem;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 5px 5px 0px #07bccc,
      8px 8px 0px #e601c0,
      11px 11px 0px #e9019a,
      14px 14px 0px #f40468,
      25px 25px 5px #482896;
    cursor: pointer;

    &:hover {
        font-variation-settings: "wght" 100, "ital" 0;
        text-shadow: none;
    }
  }
  